<div class="navbar navbar-fixed-top topbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!--<a class="brand" href="./index.html">Bandana Peace foundation</a>-->
      <div class="nav-collapse">
        <ul class="nav">
          <li class="">
            <a href="/" id='home' uri='/'>Home</a>
          </li>
          <li>
            <a href='/work.html' id='work' uri='work.html'>Our Work</a>
          </li>
          <li>
            <a href='/donate' id='donate' uri='donate'>Donate</a>
          </li>
          <li>
            <a href='/contact_us' id='contact_us' uri='contact'>Contact Us</a>
          </li>
          <li class="">
            <a href="/about_us" id='about_us' uri='about_us'>Gallery</a>
          </li>
          <li class="">
            <a href="/about_us" id='about_us' uri='about_us'>About Us</a>
          </li>
          <li class="">
            <a href="/about_us" id='about_us' uri='about_us'>Press Coverage</a>
          </li>
       </ul>
      </div>
    </div>
  </div>
</div>

